.list {
    background: white;
    min-height: 60px;
    padding: 10px;
    margin: 0;
}

.list__header {
    background: white;
    font-size: 20px;
    padding: 20px;
    margin: 0 0 2px;
}

.list__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    align-items: center;
    padding: 10px;
    margin: 25px 10px 10px;
    list-style-type: none;
    border-bottom: 1.5px solid #eee;
}

.list__item--done {
    text-decoration: line-through;
}

.list__button {
    color: white;
    background: green;
    border: none;
    width: 30px;
    height: 30px;
    transition: border;
}

.list__button:active {
    border: 2px solid black;
}

.list__button--deleted {
    justify-self: end;
    background: red;
}