html {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

*,
::after, ::before {
    box-sizing: inherit;
}

body {
    background: #eee;
    font-family: 'Montserrat', sans-serif;
    width: 1050px;
    max-width: 1050px;
    word-break: break-word;
    margin: 20px;
}