.addTask {
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 20px;
    background: white;
    padding: 20px;
    margin: 0 0 10px;
}

@media (max-width: 767px) {
    .addTask {
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
    }
}

.addTask__header {
    background: white;
    font-size: 20px;
    padding: 20px;
    margin-bottom: 2px;
}

.addTask__item {
    border: 2px solid #eee;
    background: white;
    padding: 10px;
}

.addTask__item--button {
    color: white;
    border: none;
    background: teal;
    transition: border;
}

.addTask__item--button:active {
    border: 2px solid black;
}